body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3 {
	color: #dddddd;
	font-weight: bold;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h2, h3 {
	padding: 0;
	margin: 0;
}

p {
	color: #333333;
	padding: 0px;
	margin: 0px;
}

.container {
	text-align: center;
}

.playerImg, .enemyImg {
	display: inline-block;
}

.progress-bar {
	padding: 0;
	margin: 0;
	color: #dddddd;
	font-weight: bold;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

.char-th {
	display:inline-block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: 5px;
	background-color: #fafafa;
}

.progress-bar {
	min-width: 2em;
	font-size: 24px;
	line-height: 50px;

}

.progress {
	height: 50px;
	margin-bottom: 0px;
}

.padding {
	margin-top: 25px;
	margin-bottom: 25px;
}

#playerStats, #playerHpDiv, #playerHpBarDiv {
	vertical-align: middle;
}